<h1>Sign Up</h1>

<form action="/users/create" method="POST">

<input type="text" name="name" placeholder="enter name" required>
<input type="email" name="email" placeholder="enter email"required>
<!-- <input type="text" name="mobileNo" placeholder="Enter Mobile Number"required> -->
<input type="password" name="password" placeholder="enter password"required>
<input type="password" name="confirm_password" placeholder="confirm password"required>
<input type="submit" value="Sign Up">

</form>
<p>
    <a href="/users/auth/google">SignIn/SignUp with Google</a>
</p>